html {
  box-sizing: border-box;
  font-size: 10px;

  scroll-behavior: smooth;
  // scroll-padding-top: min(6.3vw, 120px);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: local("Roboto-Regular"),
  url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: local("Roboto-Medium"),
  url("../fonts/Roboto-Medium.woff") format("woff"),
  url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TimesNewRoman";
  font-weight: 700;
  font-style: normal;

  src: local("TimesNewRoman-Bold"),
  url("../fonts/TimesNewRoman-Bold.woff") format("woff"),
  url("../fonts/TimesNewRoman-Bold.woff2") format("woff2");
  font-display: swap;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  min-height: 100vh; 
  font-family: "Roboto", "TimesNewRoman", sans-serif;
}

section {
  max-width: 1920px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

address {
  font-style: normal;
}

select {
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
       appearance: textfield;
}
